#python
__pycache__/
tf_profile_env2/
.venv/
sell/

#data
*.parquet
*.feather
data*.json
from*.json

test_data/

# profile
logs/
debag/

#models
models/
*.weights.h5

#conf
.ipynb_checkpoints/
.vscode/
~$*



errors.ipynb

